@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Qualquer duvida, sugestão ou crítica envie um e-mail para:
</p>

<address>
    <strong>Suporte:</strong>   <a href="mailto:fmassaretto@gmail.com">fmassaretto@gmail.com</a><br />
</address>