@{
    ViewBag.Title = "SAPZ - Sistema de Apoio na Pesquisa do vírus Zika";
}

<div class="jumbotron fundo">
    <h1>SAPZ</h1>
    <p class="lead">SAPZ é um sistema de apoio aos pesquisadores para o gerenciamento de dados sobre o vírus Zika.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O que é Zika Virus?</h2>
        <p>
            O vírus da zika ou, ainda, vírus de Zika[ (em inglês, Zika virus) é um vírus do gênero Flavivirus. 
            Em humanos, transmitido através da picada do mosquito Aedes aegypti, causa a doença também conhecida 
            como zika — que embora raramente acarrete complicações para seu portador, apresenta indícios de poder 
            ...
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Hospital Universitário de Jundiaí</h3>
        <p>A Faculdade de Medicina de Jundiaí, em parceria com o Poder Público, inaugurou o Hospital Universitário 
        em 03 de outubro de 2003.
            Desde sua abertura, o HU é referência em atendimento materno-infantil para Jundiaí e região, contemplando 
        especialmente os municípios de ...</p>
        <p><a class="btn btn-default" href="http://www.hufmj.com.br/">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Noticias</h2>
        <p>Fique por dentro das notícias sobre o vírus do zika no Brasil e no mundo. E também acompanhe as notícias do 
        Hospital Universitário de Jundiaí.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver notícias &raquo;</a></p>
    </div>
</div>